img{
    height: 80px;
    width: 80px;
}
h1{
    text-align: center;
    color: blue;
}
hr{
    color: blue;
    background-color: blue;
    border-color: blue;
}
table{
    text-decoration-style: dotted;
    text-align: right;
    color: blue;
    font-style: italic;
}
h3{
    text-align: center;
    color: blue;
    font-style: oblique;
}